@page
@model LucrareFinalaCA.GetMyArticlesTestModel
@{
    ViewData["Title"] = "GetMyArticlesTest";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>GetMyArticlesTest</h2>
<h2>Edited by me</h2>
@foreach (var article in Model.EditedArticles)
{
    <div> @article.Title</div>
}
<h2>Created by me</h2>
@foreach (var article in Model.AuthorArticles)
{
    <div> @article.Title</div>
}